<div class="profile_wrapper">
  <div class="user_profile_box">
    <div class="user_image">
      <% if @user.profile_image? %>
        <%= image_tag(@user.profile_image) %>
      <% else %>
        <%= image_tag('user_image_default4.png')%>
      <% end %>
    </div>
    <div class="user_name_box">
      <li class="user_name">
        <% if @user.username? %>
          <%= @user.username %>
        <% else %>
          <p>名前のダミーです</p>
        <% end %>
      </li>
      <li class="user_rank">
        <% if @user.user_rank? %>
          <%= @user.user_rank %>
        <% else %>
          <p>称号のダミーです</p>
        <% end %>
      </li>
    </div>

    <div class="user_profile_text">
      <% if @user.profile_text %>
        <%= @user.profile_text %>
      <% end %>
    </div>

    <div class="user-profile-links">
      <% if @user == current_user %>
        <li class="user_edit"><%=link_to "プロフィール編集", edit_user_path(@user) %></li>
      <% end %>
    </div>
  </div>
<!--  以下未実装-->
<!--  <dvi class="user_post_data">-->
<!--    <div class="user-menu-wrapper">-->
<!--      <div class="data posts">-->
        <%#= link_to "#" do %>
<!--          <li class= "number">-->
            <%#= @user.evaluations.count %>
<!--          </li>-->
<!--          <li class= "menu-label">マリアージュ投稿</li>-->
        <%# end %>
<!--      </div>-->
<!--      <div class="data favorites">-->
        <%#= link_to "#" do %>
<!--          <li class= "number">-->
            <%#= @user.favorites.count %>
<!--          </li>-->
<!--          <li class= "menu-label">お気に入り</li>-->
        <%# end %>
<!--      </div>-->
<!--      <div class="data evaluations">-->
        <%#= link_to "#" do %>
<!--          <li class= "number">-->
            <%#= @user.pairs.count %>
<!--          </li>-->
<!--          <li class= "menu-label">評価</li>-->
        <%# end %>
<!--      </div>-->
<!--    </div>-->
<!--  </dvi>-->
</div>
