<div class="contact form index">
  <%= simple_form_for(@contact, url: { action: :confirm }) do |f| %>
    <h3>お問合わせ・ご要望</h3>
    <%= f.input :name, label: "名前" %>
    <%= f.input :email, label: "メールアドレス" %>
    <%= f.input :content, as: :text, input_html: { rows: 6 }, label: "お問い合せ内容（200字以内）" %>
    <%= f.button :submit, "確認画面へ", :class => "contact submit", method: :post  %>
  <% end %>
</div>