<footer>
  <div class="footer-wrapper">
    <div id="footer-items">
      <div class="footer-item">
        <li><%= link_to "ペアリング投稿", "#" %></li>
        <li><%= link_to "お酒を登録", "#" %></li>
        <li><%= link_to "料理を登録", "#" %></li>
        <li><%= link_to "お酒から探す", "#" %></li>
        <li><%= link_to "食事から探す", "#" %></li>
<!--        <li><%#= link_to "ログアウト", destroy_user_session_path(current_user) %></li>-->
      </div>
      <div class="footer-item">
        <li><%= link_to "SAKIIKAについて", '#' %></li>
        <li><%= link_to "ペアリングの基本", '#' %></li>
        <li><%= link_to "ペアリングブログ", '#' %></li>
      </div>
      <div class="footer-item">
        <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
        <li><%= link_to "運営情報", "#" %></li>
        <li><%= link_to "エンジニア募集", "#" %></li>
      </div>
    </div>
    <div class="copyright">
      <p>© DonoSake ALL RIGHTS RESERVED.</p>
    </div>
  </div>
</footer>