<header>
  <div class="header-menus">

    <div class="first">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag "logo_donosake2.png" %>
        <% end %>
      </div>
      <div class="user-page-btn">
        <% if user_signed_in? %>
          <%= link_to "#" do %>
            <label><i class="far fa-user"></i>マイページ</label>
          <% end %>
        <% else %>
          <%= link_to "登録・ログイン", new_user_session_path, :class => "login_top_sp" %>
        <% end %>
      </div>
    </div>
    <div class="second">
      <ul>
        <li><%= link_to "お酒を探す", "#", :class => "header menu" %></li>
        <li><%= link_to "料理を探す", "#", :class => "header menu" %></li>
        <li><%= link_to "投稿する", "#", :class => "header menu" %></li>
      </ul>
    </div>

  </div>
</header>